<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script src="/js/jquery.min.js"></script>
    <!-- 引入bootstrap的css、js -->
    <link href="/js/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.js"></script>
    <script src="/js/bootstrap-bootbox/bootbox.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css">
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.js"></script>
    <script src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" href="/js/bootStrap-addTabs/bootstrap.addtabs.css">


</head>
<body>
<div id="toolbar">
    <button type="button" class="btn btn-primary glyphicon glyphicon-plus" onclick="openEmp()">新增</button>
</div>

<table class="table" id="myTable"></table>

</body>
<script>
    $(function () {
        initUserTable();//初始化用户表格数据
    })

    function initUserTable() {
        $('#myTable').bootstrapTable({
            toolbar: '#toolbar',
            url: "../hello",
            queryParams: function () {
                return {};
            },
            columns: [
                {field: "check", checkbox: true},
                {field: "userid", title: "id"},
                {field: "userName", title: "商品名称"},
                {field: "age", title: "价格"},
                {field: "sex", title: "库存"},
                {
                    field: "adsc", title: "操作", formatter: function (value, row, index) {
                        return "<button type='button' class='btn btn btn-danger glyphicon glyphicon-pencil' " +
                            "onclick='openEmp(" + row.id + ")'>修改</button> <button type='button' class='btn btn btn-danger glyphicon glyphicon-trash' onclick='deleteEmp(" + row.id + ")'>删除</button>";
                    }
                },
            ]
        });
    }

    var res;

    function createAddContent(url) {
        $.ajax({
            url: url,
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res;
    }

    function openEmp(id) {
        bootbox.dialog({
            title: '商品',
            message: createAddContent("/page/toAddGoods"),
            closeButton: true,//显示关闭按钮
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i> 保存",
                    "className": "btn-sm btn-success",
                    "callback": function () {
                        $.ajax({
                            url: '/goods/insGoodsList',
                            type: 'post',
                            data: $("#myForm").serialize(),
                            success: function () {

                                $('#myTable').bootstrapTable('refresh');
                            }
                        });
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i> 取消",
                    "className": "btn-sm btn-danger",
                    "callback": function () {

                    }
                }
            }

        })
        $.ajax({
            url: "/goods/queryGoodById",
            data: {id: id},
            success: function (data) {
                $("#id").val(data.id),
                    $("#name").val(data.name),
                    $("#price").val(data.price),
                    $("#stock").val(data.stock),
                    $("#createtime").val(data.createtime)

            }
        })
    }

    function deleteEmp(id) {
        $.ajax({
            url: "/goods/deleteGood",
            type: "delete",
            data: {id: id},
            success: function () {
                if (confirm("是否确认删除这条数据?")) {
                    $('#myTable').bootstrapTable('refresh');
                }

            }
        })
    }
</script>
</html>